@font-face {
    font-family: 'ArchRival';
    src: url('./SF\ Arch\ Rival\ Bold.ttf') format('truetype'), /* Modern Browsers */
        url('./SF\ Arch\ Rival\ Bold.ttf') format('truetype'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: #ffffff;
    font-size: 2.2vmin;
  }
  .header {
    background-image: url('./header.png');  
    background-size: cover;
    background-position: top;
    padding: 100px 0; /* Adjust as needed */
    text-align: bottom;
    color: #000000;
    font-size: 6vmin;
    font-family: 'ArchRival', sans-serif;
  }
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #494949;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    text-align: center;
  }
  .logo {
    display: block;
    margin: 20px auto;
    width: 200px;
  }
  .btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .btn:hover {
    background-color: #0056b3;
  }
  .game {
    margin: auto;
    width: 95%;
    padding: 10px;
    text-align: center;
    border: 3px solid #333;
  }
  a {
    color: #00b3ff;
  }
  .head {
    font-size: 0vmax;
    padding: 0;
    text-align: center;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .steam-container {
    position: relative;
    padding-bottom: 25%;
    height: 0;
  }
  .steam-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
   .notofficial {
    background-color: #0095ff; /* Background color */
    color: #ffffff; /* Text color */
    padding: 0.012px; /* Padding around the text */
    text-align: center; /* Center the text */
}