iframe {
  width: 100vw;
  height: 50vh;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; 
  font-size: 1.5rem; 
  background: rgb(27,27,27);
  background: linear-gradient(36deg, rgba(27,27,27,1) 0%, rgba(0,253,255,1) 100%);
}

#search {
  display: block;
  margin: 2vh auto; 
  padding: 2.5vmin;
  border: 2px solid #333; 
  border-radius: 2vmin; 
}

.count {
  text-align: center;
  color: #ddd; 
}

#games {
  width: 90vw;
  margin: 0 auto;
  background-color: #262626; 
  border-radius: 2vmin;
  padding: 4vmin;
}


h1 {
  font-size: 10vmin; 
  text-align: center;
  color: #ddd; 
}

button {
  all: unset;
  background-color: #2a4b8d; 
  margin: 1vmin; 
  color: white;
  font-weight: bold;
  padding: 1.5vmin; 
  border-radius: 2vmin;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  user-select: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  filter: brightness(120%); 
}

button:active {
  box-shadow: none; 
  transform: translateY(1vmin); 
}
