body {
    font-family: Arial, sans-serif;
    background: rgb(27,27,27);
    background: linear-gradient(36deg, rgba(27,27,27,1) 0%, rgba(75,75,75,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
}

.container {
    width: 70%;
    max-width: 600px;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

h2 {
    color: rgb(255, 255, 255);
}
form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    color: #fff;
}

input[type="file"],
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    background-color: #666;
    border: 1px solid #555;
    border-radius: 4px;
    color: #fff;
}

button {
    width: calc(100% - 20px); 
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004280;
}

/* WEBKIT */

::-webkit-scrollbar {
    width: 10px; 
    background-color: #333; /
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 5px; 
}


::-webkit-scrollbar-thumb:hover {
    background-color: #777; 
}


/* MOZZILA */

* {
    scrollbar-width: thin; 
    scrollbar-color: #333 #555; 
}

*::-moz-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px; 
}

/* Handle on hover */
*::-moz-scrollbar-thumb:hover {
    background-color: #777; 
}